@import "tailwindcss";

.strobe-left {
  animation: strobe-left 1s linear infinite;
}
.strobe-right {
  animation: strobe-right 1s linear infinite;
}

@font-face {
  font-family: "Digital7";
  src: url("/fonts/Digital7.woff2") format("woff2");
}

.lcd-font {
  font-family: "Digital7", monospace;
  text-align: center;
}

@keyframes strobeMove {
  0%, 100% { opacity: .18; }
  40% { opacity: 1; }
}
.strobe-dot {
  animation: strobeMove 0.9s linear infinite;
}